body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.job-page{
display: flex;
justify-content: center;
background-color: rgb(140, 38, 53);
}
.job-header{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: white;
    width: 100%;
    text-align: center;
}
.job-body{
    display: flex;
    justify-content: start;
    background-color: white;
    width: 100%;
    height: 100%;
}
.positions{
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rbga(0,0,0,0.1);
    width: 80%;
    max-width: 900px;
    min-width: 300px;
}
.position-header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(86, 86, 86);
    margin: 20px;
    font-size: 30px;
    border-bottom: 1px solid rgb(86, 86, 86);
}
.bg {
    background-color: rgb(238, 239, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.non-dis{
    padding: 20px;
}
a{
    color: rgb(140, 38, 53)
}
a:hover{
    color: grey;
}
@media (max-width: 768px) {
    .positions {
        width: 90%; /* Adjust width for smaller screens */
    }
}

@media (max-width: 480px) {
    .positions {
        width: 95%; /* Adjust width for very small screens */
    }
}