.job-form{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rbga(0,0,0,0.1);
    width: 80%;
    max-width: 900px;
    min-width: 300px;
}
.hear-about{
display: flex;
flex-direction: column;
align-items: flex-start;
padding:12px;
    
}
.radio-input{
    display: flex;
    justify-content: start;
    padding:30px;
}
label{
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(37, 37, 37)
}
.applying-for{
    padding: 12px;
    padding-left:20px;
}
